:root {
    --color-1: rgb(66, 145, 209);
    --color-2:rgb(142, 188, 226);
  }

*{
    margin: 0;
    padding: 0;
}

main{
    padding-top: 20vh;
    height: 100vh;
    background-color: var(--color-2);
}
main .container{
    
    background-color: var(--color-1);
    padding: 10px;
    border-radius: 10px;
}